@media screen and (max-width: 600px) {
body {
  font-family: Arial, sans-serif;
  background-image: url("./img/fondo-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; /* Ajusta la posición del fondo para dispositivos móviles */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

/*formulario de registro */
form {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /*formulario difuminado */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
h1 {
  color: #ffffff;
}

label {
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 96%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color:blue;
}

p {
  margin-top: 15px;
  color: #ffffff;
}

/*enlace de Iniciar Sesión */
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}
  form {
    max-width: 80%; /* Ajusta el ancho del formulario para dispositivos móviles */
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 90%; /* Ajusta el ancho de los campos de entrada para dispositivos móviles */
  }
}